name: CI
on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "dev", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Build
        run: npm run build
        env:
         RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}


      - name: Lint
        run: npm run lint

      - name: Typecheck
        run: npm run typecheck || echo "No typecheck script, skipping"

      - name: Build
        run: npm run build
